<?xml version="1.0"?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="SalesPurchase.Properties.Settings.SalesPurchaseConnectionString" connectionString="Data Source=KASHIF-VAIO\SQLEXPRESS;Initial Catalog=SalesPurchase;User ID=sa;Password=system123#" providerName="System.Data.SqlClient"/>
 </connectionStrings>
 <appSettings>
		<add key="DBName" value="salespurchase"/>
		<add key="DBIP" value="KASHIF-VAIO\SQLEXPRESS"/>
		<add key="DBUser" value="sa"/>
		<add key="DBPassword" value="system123#"/>
		<add key="CompanyName" value="Chicken Corner"/>
		<add key="CompanyAddress" value="Al Nakheel R.A.K"/>
		<add key="CompanyPhoneNo" value="+971-7-2211266"/>
		<add key="Fax" value="+971-7-2211139"/>
		<add key="BillHeading" value="INVOICE"/>
		<add key="BillComments" value="Thank You.Visit Again"/>
		<add key="LogPath" value="C:\Kashif\SaleLog"/>
		<add key="ReportPath" value="C:\Kashif\SaleLog\POSReport"/>
		<add key="CounterNo" value="1"/>
	</appSettings>	
<!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->

	<startup uselegacyv2runtimeactivationpolicy="true">
		<supportedruntime version="v4.0"/>
		<!-- sku=".NETFramework,Version=v4.0" />-->
	<supportedRuntime version="v2.0.50727"/></startup>
	<!--<runtime>
		<generatepublisherevidence enabled="false" />
	</runtime>-->

</configuration>
